.filterbutton {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 12px;
    border-radius:5px;
    cursor:pointer;
    width: fit-content;
    border: none;
    background-color: #f5f5f5;
    font-family: var(--fontRegular);
    font-size: var(--f_size_default);
}
.filterbutton.medium {
}

.filterbutton.small {
    font-size: var(--f_size_short)
}
  
.click{
    color: #6247aa;
    font-family: var(--fontMedium);
    background-color: #d0d1ff67;
}

/* .filterbutton:hover{
    background-color:#f1f1f1;
} */