.dropdown_container{
    /* width: 100%; */
    gap: 20px;
}
.overlay{
    display: none;
}

.dropdown_container button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--fontRegular);
    border: none;
    /* border: 1px solid var(--lineSoft); */
    border-radius:5px;
    cursor:pointer;
    width: fit-content;
}
.dropdown_container button:hover{
    background-color:#ddd;
}
.dropdown_text{
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 5px;
}

/* 버튼 색상 */
.c_default{
    background-color: #d0d1ff67;
}
.c_white{
    background-color: white;
}
.c_gray{
    background-color: #f5f5f5;
}

/* 버튼 크기 */
.s_default{
    padding: 7px 7px 7px 12px;
    font-size: var(--f_size_default);
}
.s_small{
    padding: 3px 4px 3px 10px;
    font-size: var(--f_size_short);
}
.s_semi{
    padding: 7px 7px 7px 12px;
    font-size: var(--f_size_default);
}

/* 드롭다운 옵션 */
.dropdown_option{
    position: absolute;
    background-color:white;
    border-radius:5px;
    border: 1px solid #ccc;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.4);
    z-index: 50;
    font-size: var(--f_size_small);
}
.option_left{
    float: left;
    width: 55%;
    background-color: white;
    height: calc(90% - 1rem);
}
.option_right{
    float: right;
    width: 45%;
    height: 100%;
    background-color: white;
    height: calc(90% - 1rem);
}
.option_header{
    margin: 0 0 0 0.7rem;
    font-size: var(--f_size_default);
    position: sticky;
    padding: 0.7rem 0 0 0;
    top: 0;
    height: 1.2rem;
    background-color: white;
}
.option_bottom{
    display: flex;
    align-items: center;
    margin: 0 0 0 0.7rem;
    font-size: var(--f_size_default);
    padding: 0.7rem 0 0 0;
    height: 1.2rem;
    background-color: white;
    cursor: pointer;
    color: var(--textDark);
}
.option_bottom_r{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0 1rem 0 0.7rem;
    font-size: var(--f_size_default);
    padding: 0.7rem 0 0 0;
    /* width: 100%; */
    height: 1.2rem;
}
.option_bottom_r .box{
    padding: 6px 12px;
    border-radius: 15px;
    background-color: #1e84d7;
    cursor: pointer;
    color: white;
}
.option_content{
    margin-left: 0.2rem;
    /* border-right: 1px solid #ccc; */
    overflow-y: auto;
    height: 90%;
}
.option_button {
    cursor: pointer;
    padding: 10px 0;
    margin: 0 1rem;
    align-items: center;
    display: flex;
    color: #212529f3;
}

.option_button.selected {
    color: #1e84d7;
    font-family: var(--fontMedium);
    justify-content: space-between;
}

.checked_item{
    background-color: #f8f9fa; 
    border-bottom: 1px solid #d7d6d6cd;
    cursor: pointer;
    padding: 0.5rem 0.3rem;
    margin: 0.3rem 0.5rem;
    width: fit-content;
    border-radius: 1rem;
    font-size: var(--f_size_short);
    gap:2px;
    display: flex;
}

/* 옵션 사이즈 */
.o_default{
    width: 45%;
    height: 275px;
}
.o_small{
    width: 21%;
    height: 275px;
}
.o_short{
    width: 12%;
    height: calc(275px/2);
}

@media (max-width: 400px) {
    .s_default{
        padding: 5px 7px 5px 12px;
        font-size: var(--f_size_short);
    }
    .s_semi{
        padding: 1px 4px 1px 10px;
        font-size: 9px;
    }
    .dropdown_option{
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        z-index: 50;
        width: 95%;
        border: 2px solid #ccc;
        padding: 2px;
    }
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
      }      
}