.header_container {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 8px 0 var(--shadow);
    z-index: 20;
    font-family: var(--fontRegular);
    font-size: var(--f_size_big);
}

.header_banner {
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    max-width: 1060px;
    margin: auto;
}

.header_start{
    height: 30px;
    line-height: 30px;
    display: flex;
    cursor: pointer;
}
.header_logo{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(71, 172, 255);
    background-image: url(../../image/chwijung_logo.jpg);
    background-size: 30px 30px;
}
.header_title{
    margin-left: 0.5rem;
}

.header_middle{
    width: 50%;
}
.header_middle button{
    width: 33%;
    background-color: transparent;
    font-family: var(--fontRegular);
    border: none;
    cursor: pointer;
}

.header_end{
    display: flex;
    justify-content: space-between;
}
.header_profile{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: gainsboro;
    cursor: pointer;
}

@media (max-width: 400px) {
    .header_title{
        display: none;
    }
    .header_middle{
        width:70%;
    }
    .header_middle button{
        font-size: var(--f_size_medium);
    }
    .header_banner{
        padding: 0 1rem;
    }
}