.analyze_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.analyze_wrapper{
    width: 15%;
    padding: 2rem 2rem 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.analyze_contents{
    width: 100%;
}

.analyze_first{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    margin-bottom: 0.7rem;

}
.analyze_first img{
    width: 25px;
    height: 25px;
}

.analyze_second{
    display: flex;
    gap: 0.3rem;
}
.plus{
    background-color: #d8f3dc80;
    color: #49a57a;
    padding: 2px 5px;
    height: fit-content;
    border-radius: 10px;
    font-size: var(--f_size_short);
}
.minus{
    background-color: #f8ad9d40;
    color: #d23437cd;
    padding: 2px 5px;
    height: fit-content;
    border-radius: 10px;
    font-size: var(--f_size_short);
}

.analyze_third{
    margin: 0.5rem 0;
    font-size: var(--f_size_big);
}

.analyze_last{
    color: var(--textSoft);
}

@media (max-width: 400px) {
    .analyze_container{
        flex-wrap:nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
        margin-top: 1rem;
        font-family: var(--fontLight);
        font-size: var(--f_size_short);
    }
    .analyze_container::-webkit-scrollbar{
        display: none; 
      }
    .analyze_wrapper{
        width: 100%;
        padding: 10px 5px;
        margin-left: 6px;
        display: inline;
    }

    .analyze_contents{
        width: 100%;
        padding: 20px 0 10px 0;

    }
    .analyze_first{
        display: none;
    }
    .analyze_third{
        font-size: var(--f_size_short);
        display: flex;
        margin: 0.3rem 0;
    }
    .analyze_last{
       display: none;
    }
    .analyze_second{
        gap: 0.1rem;
        display: inline;
    }
    .analyze_second span{
        margin-bottom: 2px;
        display: inline-block;
    }
}