.graph_container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--fontRegular);
    font-size: var(--f_size_big);
    /* width: 100%;
    max-width: 1060px;
    margin: auto; */
}

.graph_box {
    border-radius: 0.5rem;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 100%;
    height: 460px;
    padding: 0.5rem 1.5rem;
    background-color: white;
    border: 1px solid var(--lineSoft);
    box-shadow: 0 0 2px 0 rgba(212, 209, 209, 0.5);
}

.graph_upside{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.5rem;
}

.graph_downside{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
/* .graph_title{
    width: 5%;
    display: flex;
    align-items: center;
    position: relative;
}
.graph_title .contents{
    width: 150px; 
    font-size: var(--f_size_big);
    position: absolute;
    transform: translate(-50%, -50%) rotate(270deg);
    top: 50%; 
    left: 60%;
}
.graph_title .small{
    margin-left: 2px;
    font-size: var(--f_size_small);
    color: var(--textSoft);
} */

.graph{
    height: 350px;
    width: 80%;
}
.graph_media{
    display: none;
}

.graph_legend{
    width: 20%;
    display: flex;
    align-items: center;
}
.graph_legend .box{
    width: 100%;
}
.graph_legend .container{
    display: flex;
    width: 100%;
    justify-content: right;
    align-items: center;
    gap: 0.6rem;
    font-size: var(--f_size_default);
    font-family: var(--fontLight);
    margin-bottom: 0.8rem;
    cursor: pointer;
}

.graph_legend .left{
    width: 10%;
    height: 3px;
}
.graph_legend .right{
    width: 70%;
}
.graph_legend .right_media{
    width: 70%;
    display: none;
}

@media (max-width: 400px) {
    /* .graph_upside{
        display: none;
    } */
    .graph_box{
        height: 300px;
        padding: 0.5rem 1.5rem;
    }
    .graph_upside{
        margin-top: 0.5rem;
        font-size: var(--f_size_default);
    }
    .graph_legend{
        width: 22%;
    }
    .graph_legend .container{
        font-size: 9px;
    }
    .graph_legend .box{
        padding: 0 2px 0 0.5rem;
    }
    .graph_legend .right{
        display: none;
    }
    .graph_legend .right_media{
        display: inline;
    }
    .graph{
        display: none;
    }
    .graph_media{
        display: inline;
        height: 200px;
        width: 78%;
    }
}