.smallcommu_contents{
    width: 100%;
    display: flex;
    height: calc(var(--box_height) - 62px);
    overflow-x: scroll;
    overflow-y: hidden;
}

.smallcommu_contents img{
    padding: 0 20px 0 0;
    height: 210px;
    width: 130px;
}

@media (max-width: 400px){
    .smallcommu_contents{
        height: calc(var(--box_height) - 85px);
    }
}