.smallpost_container{
    padding: 0.5rem 1.5rem;
    font-family: var(--fontRegular);
    font-size: var(--f_size_small);
    align-items: center;
    border: 1px solid var(--lineSoft);
    border-radius: 0.5rem;
    height: 380px;
    max-width: 530px;
    margin: auto;
    background-color: white;
    box-shadow: 0 0 2px 0 rgba(212, 209, 209, 0.5);
}

.smallpost_top{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    border-bottom: 1px solid var(--lineSoft);
    margin-bottom: 0.5rem;
}
.smallpost_left{
    display: flex;
    align-items: center;
    font-size: var(--f_size_big);
    gap:5px;
}
.smallpost_right{
    display: flex;
    align-items: center;
    gap:0.5rem;
}
.smallpost_nav{
    color: var(--textSoft);
    display: flex;
    cursor: pointer;
}

.smallpost_bottom{
    width: 100%;
}

.smallist_wraper{
    justify-content: space-between;
    display: flex;
    width: 100%;
    align-items: center;
    margin: 0.5rem 0;
    padding: 4px 0;
}

.smallist_left{
    float: left;
    width: 80%;
    display: flex;
    gap: 5px;
}
.smallogo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.4rem;
}
.smallogo img{
    width: 24px;
    height: 24px;
}
.smalltitle{
    width: 100%;
}
.smalltitle .title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
    font-size: var(--f_size_default);
    margin-bottom: 0.2rem;
}
.smalltitle .company{
    font-size: var(--f_size_short);
    color: var(--textSoft);
    margin-right: 0.4rem;
}
.smalltitle .jobstyle{
    padding: 2px 7px;
    border-radius: 12px;
    width: fit-content;
    font-size: var(--f_size_short);
}
.smalltitle .jobname{
    margin-left: 4px;
}

.smallist_right{
    float:right;
    /* width: 20%; */
}
.smallist_button button{
    padding: 5px 8px;
    font-size: var(--f_size_short);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: var(--fontRegular);
}

.url{
    color: #6247aa;
    background-color: #d0d1ff57;
}
.no{
    background-color: #b8d0eb30;
    color: #b8d0eb;
    cursor:default;
}

@media (max-width: 400px){
    .smallpost_left{
        font-size: var(--f_size_default);
    }
}


