.smallpost_container{
    padding: 0.5rem 1.5rem;
    align-items: center;
    border: 1px solid var(--lineSoft);
    border-radius: 0.5rem;
    height: var(--box_height);
    max-width: 530px;
    margin: auto;
    background-color: white;
    box-shadow: 0 0 2px 0 rgba(212, 209, 209, 0.5);
}
.smallpost_first{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    border-bottom: 1px solid var(--lineSoft);
    margin-bottom: 0.5rem;
    height: 24px;
}
.smallpost_left{
    display: flex;
    align-items: center;
    font-family: var(--fontMedium);
    font-size: var(--f_size_big);
    gap:5px;
}
.smallpost_right{
    display: flex;
    align-items: center;
    gap:0.5rem;
}
.smallpost_nav{
    color: var(--textSoft);
    display: flex;
    cursor: pointer;
}

.smallpost_second{
    width: 100%;
    margin-top: 0.5rem;
}
.smallpost_box{
    justify-content: space-between;
    display: flex;
    width: 100%;
    align-items: center;
    margin: 0.25rem 0;
    padding: 2px 0;
}

.smallist_left{
    float: left;
    width: 80%;
    display: flex;
    gap: 5px;
}
.small_logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.6rem;
}
.small_logo img{
    width: 29px;
    height: 29px;
}
.small_jd{
    width: 100%;
}
.small_title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
    margin-bottom: 0.3rem;
}
.small_company{
    color: var(--textSoft);
    margin-right: 0.4rem;
    font-size: var(--f_size_small);
}

.smallist_right{
    float:right;
}
.smallist_button button{
    padding: 5px 8px;
    font-size: var(--f_size_small);
    font-family: var(--fontRegular);
    background-color: white;
    border: 1px solid var(--lineSoft);
}

.url{
    /* color: #6247aa;
    background-color: #d0d1ff57; */
    cursor: pointer;
}
.no{
    background-color: #b8d0eb30;
    color: #b8d0eb;
    cursor:default
}

@media (max-width: 400px){
    .smallist_left{
        width: 70%;
    }
    .small_logo img{
        width: 25px;
        height: 25px;
    }
    .smallpost_container{
        height: calc(var(--box_height) - 20px);
    }
}


