.total {
  margin: 50px auto;
  width: 850px;
}

/* .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  font-family: var(--fontRegular)
} */


.space {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

@media (max-width: 400px) {
  .total {
      width: 330px;
      font-size: 11px;
  }
  /* .space_media{
  display: inline-block;
  min-height: 0px;
  } */
}

@media (min-width: 401px) {
  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    font-family: var(--fontRegular);
  }
}