.filterbutton {
    display: flex;
    align-items: center;
    gap: 20px;
    /* padding: 10px 12px 10px 12px; */
    border-radius:10px;
    cursor:pointer;
    width: fit-content;
    border: none;
    background-color: #f5f5f5;
    font-family: var(--fontRegular);
    font-size: 12px;
}
.filterbutton.medium {
    padding: 10px 12px;
    font-size: 12px;
}

.filterbutton.large {
    padding: 10px 22px;
    font-size: 12px;
}
  
.click{
    color: #6247aa;
    font-family: var(--fontMedium);
    background-color: #d0d1ff67;
}

.filterbutton:hover{
    background-color:#f1f1f1;
}