/* .edubanner_container{
    margin-top: 60px;
    width: 100%;
    height: 150px;
}
.edubanner_container img{
    width: 100%;
    height: 100%;
}

@media (max-width: 400px) {
    .edubanner_container {
        height: 100px;
    }
} */