.posting_container{
    padding: 0 1rem;
    font-family: var(--fontRegular);
    font-size: var(--f_size_small);
    align-items: center;
    background-color: white;
    border: 1px solid var(--lineSoft);
    box-shadow: 0 0 2px 0 rgba(212, 209, 209, 0.5);
}
.posting_wrapper{
    width: 100%;
}
.list_wraper{
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--lineSoft);
    padding: 10px;
    height: 45px;
}
.list_wraper:last-child {
    border-bottom: none;
}

.list_start{
    width: 50%;
    display: flex;
    height: calc(45px/2);
    align-items: center;
}
.list_title_content{
    margin-left: 0.5rem;
    cursor: pointer;
}
.recru_logo{
    align-items: center;
}
.recru_logo img{
    width: 33px;
    height: 33px;
}
.recru_title{
    font-size: var(--f_size_default);
    font-family: var(--fontMedium);
}

/* 미디어쿼리 */
.recru_title_media{
    display: none;
}

.list_title_under{
    display: flex;
    margin-top: 0.3rem;
    font-size: var(--f_size_short);
}

/* 미디어쿼리 */
.list_title_under_media{
    display: none;
}

.recru_company{
    margin-right: 0.4rem;
}
.recru_period{
    color: var(--textSoft);
}

.list_middle{
    width: 12%;
}
.recru_endate{
    margin-bottom: 0.2rem;
}

.list_end{
    width: 30%;
}
.recru_jobstyle{
    padding: 5px 8px;
    border-radius: 12px;
    width: fit-content;
    height: fit-content;
    margin-bottom: 4px;
    font-size: var(--f_size_short);
}
.recru_jobname{
    margin-left: 4px;
}

.list_button{
    width: 8%;
    display: flex;
    justify-content: right;
}
.list_button_media{
    display: none;
}

.list_button button{
    padding: 8px 14px;
    background-color: white;
    border: 1px solid var(--lineSoft);
    font-family: var(--fontRegular);
    font-size: var(--f_size_small);
}
.view{
    cursor: pointer;
}
  
.delete{
    background-color: #b8d0eb30;
    color: #b8d0eb;
    cursor:default
}

.pgn_wraper{
    margin-top: 28px;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.pgn_button button{
    border: none;
    background-color: white;
    font-family: var(--fontLight);
    font-size: var(--f_size_default);
    cursor: pointer;
}

.pgn_middle{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    gap: 2px;
}

@media (max-width: 400px) {
    .posting_container{
        background-color: transparent;
        border: none
    }
    .list_wraper{
        height: 70px;
        background-color: white;
        border: 1px solid var(--lineSoft);
        box-shadow: 0 0 2px 0 rgba(212, 209, 209, 0.5);
        margin-bottom: 0.5rem;
        border-radius: 5px;
    }
    .list_wraper:last-child {
        border-bottom:1px solid var(--lineSoft);
    }
    .list_start{
        width: 85%;
    }
    .recru_title{
        display: none;
    }
    .recru_title_media{
        display: inline;
        font-size: var(--f_size_default);
        font-family: var(--fontMedium);
    }
    .list_title_under_media{
        display: inline;
    }
    
    .recru_jobstyle{
        padding: 2px 7px;
        border-radius: 12px;
    }

    .list_button{
        display: none;
    }
    .list_button_media{
        display: flex;
        /* justify-content: right; */
        width: 15%;
    }
    .list_button_media button{
        padding: 5px 8px;
        background-color: white;
        border: 1px solid var(--lineSoft);
        font-family: var(--fontRegular);
        font-size: var(--f_size_short);
    }
    .recru_period, .recru_logo, .recru_company, 
    .list_middle, .list_end{
        display: none;
    }

    .list_title_top{
        display: flex;
        margin: 0.2rem 0 0 0;
        gap: 0.2rem;
        width: 100%;
    }
    .list_title_bottom{
        display: flex;
        gap: 0.4rem;
        align-items: center;
        margin-top: 0.6rem;
    }

    .pgn_button button{
        font-size: 9px;
        background-color: #f1f4f960;
    }
    .pgn_middle{
        gap: 0px;
    }
}
